PORT=5001
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=<appName>
JWT_SECRET=change-me-to-something-random
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
